@model Employee
@{
	Layout = null;
}
<div style="font-size: 12px; font-family: Arial">

שלום, קיבלת הודעה אישית בפורטל. לצפייה בהודעה <a href="@Url.AbsoluteAction("Index", "Forums")">
		לחץ כאן</a>.
</div>
