@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="col-sm-12">
<div class="box">
    <h4 class="box-title">@ViewData["title"] 
    </h4>
    <div class="box-content">
    פורום זה אינו פעיל
        <div class="forum-list">
          לקבלת מידע נוסף, צור קשר עם מנהל האתר
        </div>
        <hr />

    </div>
</div>
    </div>