@model Portal.Entities.Employee

@{
    ViewBag.Title = "ErrorForum";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>גישה לפורום</h2>


<h4>מצטערים @Model.FirstName
<br />
 אין לך גישה לפורום זה, אנא צור/צרי קשר עם מנהל פורום.
 </h4>
