@model IList<Portal.Entities.Poll>
    @{
        ViewBag.Title = "סקרים";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    <h2>
        סקרים
    </h2>
    <ul class="toolbar">
        <li>
            <a class="icon icon-add" href="@Url.Action("Create")">
                הוסף סקר חדש
            </a>
        </li>
    </ul>
    @Html.Grid(Model).Columns(column =>
{
    column.For(x => x.Title).Named("שם").Attributes(@class => "wrap");
    column.For(x => Html.ActionLink("הצג", "show", new { x.Id }));
    column.For(x => Html.ActionLink("עריכה", "edit", new { x.Id }));
    column.For(x => Html.ActionLink("דוח מסכם", "ExportToExcel", new { x.Id }));
    column.For(x => (!x.Anonymous) ? Html.ActionLink("דוח תשובות", "ExportToExcel", new { x.Id, type = 2 }) : null);
    column.For(x => Html.ActionLink("מחיקה", "destroy", new { x.Id }, new { @class = "delete" }));
})
