@model Portal.Models.Polls.PollFormModel
@Html.Partial("PollForm")

<div class="submit-btn">
	<input type="submit" value="שמור" />
	<span>או</span>
	@Html.ActionLink("אחורה", "Index")
</div>

