@model Portal.Models.Polls.PollFormModel

<div id="tabs">
    <ul>
        <li><a href="#general">הגדרות</a></li>
        <li><a href="#items">שאלות</a></li>
    </ul>
    <div id="general">
        @Html.Partial("PollForm")
    </div>
    <div id="items">
        <ul class="toolbar">
            <li>
                <a class="icon icon-add" href="@Url.Action("Create", "PollItems", new { Model.Id })">
                    הוסף שאלה חדשה
                </a>
            </li>
        </ul>
        @Html.Grid(Model.Items).Columns(column =>
{
    column.For(x => x.Title).Named("פריטים").Attributes(@class => "wrap");
    column.For(x => Html.ActionLink("עריכה", "edit", "PollItems", new { x.Id }, null));
    column.For(x => Html.ActionLink("מחיקה", "destroy", "PollItems", new { x.Id }, new { @class = "delete" }));
})

    </div>
</div>
<div class="submit-btn">
    <input type="submit" value="שמור" />
    <span>או</span>
    @Html.ActionLink("אחורה", "Index")
</div>

<script>
    $(function () {
        $("#tabs").tabs();
    });
</script>
