#nav, #nav li,
#path ul, #path li
{
	padding: 0;
	margin: 0;
	list-style-type: none;
	list-style: none;
}

#nav {
	padding-left: 10px;
	padding-right: 10px;
	margin-bottom: -1px;
	overflow: hidden;
	background: url(images/shd.gif) repeat-x bottom;
	_height: 30px;
}

#nav li a
{
	background: url(images/tabs.gif) left top;
	display: block;
	padding-left: 15px;
	color: #000000;
	text-decoration: none;
}

body.rtl #nav li a{
	padding-left: 0;
	padding-right: 15px;
	background-position: right top;
}

#nav li
{
	float: left;
}

body.rtl #nav li{
	float: right;
}

#nav ul
{
	position: absolute;
}

#nav ul ul{
	position: relative;
}

#nav a.s
{
	background: url(images/tabs.gif) 0% 28px!important;
	border-bottom: 1px solid #eeeeee;
}

body.rtl #nav a.s{
	background: url(images/tabs.gif) right 28px!important;
}

#nav a.s span
{
	background: url(images/tabs.gif) 100% 28px!important;
}

body.rtl #nav a.s span{
	background: url(images/tabs.gif) left 28px!important;
}

#nav li a:hover
{
	background: url(images/tabs.gif) 0% 56px;
}

body.rtl #nav li a:hover
{
	background: url(images/tabs.gif) right 56px;
}

#nav li a:hover span
{
	background: url(images/tabs.gif) 100% 56px;
}

body.rtl #nav li a:hover span
{
	background: url(images/tabs.gif) left 56px;
}

#nav li a span
{
	background: url(images/tabs.gif) right top;
	display: block;
	padding: 8px 15px 5px 0;
}

body.rtl #nav li a span{
	padding: 8px 0 5px 15px;
	background-position: left top;
}

.sub_menu, .sub_menu li{
	margin: 0;
	padding: 0;
	list-style: none;
	list-style-type: none;
}

.sub_menu{
	height: 24px;
	background: #eeeeee bottom url(images/sub_bg.gif) repeat-x;
	border-left: 1px solid #cccccc;
	border-right: 1px solid #cccccc;
	display: none;
}

.sub_menu li{
	float: left;
	
}

body.rtl .sub_menu li{
	float: right;
}

.sub_menu li a{
	padding: 5px 10px;
	display: block;
	text-decoration: none;
}

.sub_menu li a:hover, .sub_menu li a.s{
	background: #ffffff;
}