@model Portal.Entities.Doc

@{
    ViewBag.Title = "Show";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<fieldset>
    <legend>מסמכים</legend>

    <div class="display-label">שם</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">תוכן</div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-label">לינק</div>
    <div class="display-field">
        <a href="/Public/userfiles/docs/@Model.Url" target="_blank">לחץ כאן</a>
    </div>

</fieldset>

