@model Portal.Models.Departments.DepartmentFormModel
@{
	Layout = null;
}
<fieldset>
	<legend>פרטים</legend>
	<dl>
		<dt>שם:</dt>
		<dd>
			@Html.EditorFor(model => model.Name)
			@Html.ValidationMessageFor(model => model.Name)
		</dd>
	</dl>
</fieldset>
<div class="submit-btn">
	<input type="submit" value="שמור" />
	<span>או</span>
	@Html.ActionLink("אחורה", "Index")
</div>
