@model Portal.Models.Messages.MessageFormModel
@{
    ViewBag.Title = "הודעות";
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2>
	הודעות</h2>
@using (Html.BeginForm()) {
	@Html.Partial("MessageForm")
}
