@model Portal.Entities.Page
@{
	ViewBag.Title = "No Access";
	Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box">
	<h4 class="box-title">
		No Access
	</h4>
	<div class="box-content page-content">
		
	</div>
</div>
